footer {
  padding-top: 3rem;
  padding-bottom: 10px;
}

#myVideo {
  position: fixed;
  top: 0;
  min-height: 100%;
  z-index: -99;
}

.semitrans {
  background: rgba(255,255,255,.2); /*30% opaque white*/
}

.headline {
  color: #021c3f;
}

.description {
  animation: fadeIn ease 0.5s;
  animation: bounceIn ease 0.5s;
}

.webcard {
  animation: fadeIn ease 5s;
}

.controls {
  animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes bounceIn {
  0% {transform: scale(0.5) translateY(5%);}
  75% {transform: scale(1.05) translateY(-2%);}
  100% {transform: scale(1.0) translateY(0%);}
}
