.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

footer p {
  margin-bottom: .25rem;
}

#myVideo {
  position: fixed;
  top: 0;
  min-height: 100%;
  z-index: -99;
}

.semitrans {
  background: rgba(255,255,255,.2); /*30% opaque white*/
}

.headline {
  color: #021c3f;
}

.description {
  animation: fadeIn ease 0.5s;
  animation: bounceIn ease 0.5s;
}

.webcard {
  animation: fadeIn ease 5s;
}

.controls {
  animation: fadeIn ease 1s;
}

.message {
  animation: fadeOut 3s;
  opacity: 0;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes bounceIn {
  0% {transform: scale(0.5) translateY(5%);}
  75% {transform: scale(1.05) translateY(-2%);}
  100% {transform: scale(1.0) translateY(0%);}
}
